API_ID=26473778
API_HASH=0060a11800f6bf654944d9c2b476be2c
BOT_TOKEN=
LOGGER_ID=-1002430579671
MONGO_DB_URI=mongodb+srv://Raghav23:Raghav23@cluster0.6nrx6.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6502237398
STRING_SESSION=BQGT9TIASzGfzoD4s0QbANm3q88CBeCgZUAMck29O4I3SioV-gq4F5ok4uTFJinpP_1K3mxaQ4Hi86miXOUTBnYevpGCvijKEZxeAksmyTScDta1q0uMc_lf8rciqBwYpX4FmGJfAlRIq_XrUYQ-DpvtQ-Aym4V3DZCI498U7FmURjGNh-7xv0jjmvWtV6TzhpQqDlPDDxj86I0vLbXimUJ3Wy7rxt9e6hfXoK-YU3fuShW10YSmRJEmq7hGiZQbg5xDf2Vx3ruhe05q6_Rxtp9641vHZuOV6g_W3zmmwAWFcwsqJ0qRrNL5-4uw4a6hJwbZO4MvIT4hMrifWOT7uqlZmbkWJQAAAAHLp5j3AA
