API_ID=28954982
API_HASH=94ccef265a479793912c6691cf4963ea
BOT_TOKEN=7882219337:AAGD8C3LlqTtAZS2Y9ovlL59Cu8k7knlVYM
LOGGER_ID=-1002430579671
MONGO_DB_URI=mongodb+srv://Raghav23:Raghav23@cluster0.6nrx6.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6502237398
STRING_SESSION=BQG50WYAa8MpClBGQfbXglJuVaztO4xIl22tGqo-VmDUv-RhvbtqohtgkJCOmE9Rknf8kluKwCsFzmpl2yOnpotF-lD_Vjh5Nz2-WtLAeaDGxRsazDWBt-30Ryoyh9OOF6yynbAMacKOHmrqLGyv0m8eqaVVz-6MswyIFx8C2FcjwXEegwnLtOuj6C9hj0QT2V3a5-u7iqLzDNMvyl_Ya3hOCf1cRoz-09owt23iIjnRjPUG2gtuclprmjLdujzW-dZe5R4ujWCcvp0CD7-MjnxA-647MidJxnHFLPF_bTle2M2WXU_bGZ3NWiMgigi1RotQ9RnCJ5qeBTHtU6CN8WeCmRvtLAAAAAHaLy2nAA
