API_ID=28954982
API_HASH=94ccef265a479793912c6691cf4963ea
BOT_TOKEN=7882219337:AAGD8C3LlqTtAZS2Y9ovlL59Cu8k7knlVYM
LOGGER_ID=-1002430579671
MONGO_DB_URI=mongodb+srv://Raghav23:Raghav23@cluster0.6nrx6.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6502237398
STRING_SESSION=BQG50WYARtFjXjtWquBZG7yUiKPLzaxYKC1dqXwhEdeTySBgTuwLG0bMDvrLvV3Stf7pjsUUIM_Emis1vJNOxsVCm_Vx6mpwrjOjBu1N1lyqvUzwUsZ3kpCUPnqYkECXL_0b_18oHtyckNa2T2xZ4MVaoMS1zPk2wBORR0GjNIuseQRljiXKVmOdw6-5xEpJQ1Sqfu7b5erCMoAQVaMedCIfFhOZtjvtfWAJgS4exuMYWhpZeHvmjdKgcWEkp0ZJ-hTPXcnJ9ODUhSs-u0jOumZBms0Ybh1Azto0LlIAVw4JYCX9nZlnQRaxDp91X_ZBQWeVB4Hh9cUM399DheNCVVt6PMGjOAAAAAHaLy2nAA
